################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/VFPlaner/v15
/VFPlaner/bin/Debug
/VFPlaner/obj/Debug
